#carousel-container, #carousel {
    display: flex;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.carousel-button {
    position: relative;
    z-index: 1;
    font-size: 3rem;
    top: 100px;
    margin: 0 20px;
}


.pet-option {
    width: 200px;
    height: 200px;
    background-size: cover;
    display: none;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.active {
    display: block;
    position: relative;
}

#test{
    width: 150px;
    height: auto;
}