* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pet{
    background-size: cover;
}

#pet {
    width: 100px;
    height: 100px;
}

.deer {
    animation-name: idleDeer;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite
}

.ghost {
    animation-name: idleGhost;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}


.hidden {
    display: none;
}

