* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    text-align: center;
}

.stats {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.stat {
    text-align: center;
}

.sub-stats {
    width: inherit;
    display: flex;
    justify-content: space-around;
}

.buttons {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}

.hidden {
    display: none;
}

/* ANCHOR sprite styling and animation*/

#pet-container {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.selected-pet {
    width: 100px;
    height: 100px;
}

.right {
    animation-name: moveRight;
    animation-timing-function: linear;
    animation-duration: 2s;
}

.left {
    animation-name: moveLeft;
    animation-timing-function: linear;
    animation-duration: 2s;
}